 <%- include("partials/stheader") %>
 <link rel="stylesheet" href="stylesheets/login.css">
 </head>

<body class="text-center">
  <form action="/login" class="form-signin" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Quiz Box</h1>
    <label for="u" class="sr-only">Username</label>
    <input name="username" type="text" id="u" class="form-control" placeholder="Username" required autofocus>
    <label for="p" class="sr-only">Password</label>
    <input name="password" type="password" id="p" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="">
      <a href="/te/register">Register</a>
    </div>
     <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
  </form>
</body>
</html>
