<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Student Register</title>
  </head>
  <body>
    <form action="/st/register" method="post">
      <div class="">
        <input name="username" type="text" id="u" class="" required>
        <label for="u">Reg No</label>
      </div>
      <div class="">
        <input name="name" type="text" id="u" class="" required>
        <label for="u">Name</label>
      </div>
      <div class="">
        <input name="email" type="email" id="u" class="" required>
        <label for="u">Email</label>
      </div>
      <div class="">
        <input name="password" type="password" id="p" class="" required>
        <label for="p">Password</label>
      </div>
      <button>Submit</button>
    </form>
    <div class="">
      <a href="/st/login">Login</a>
    </div>
  </body>
</html>
