<%- include("./partials/teheader.ejs") %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">QUIRKY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/te/exam/upcoming">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/te/exam/ready">Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/te/exam/completed">Completed Exams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/te/exam/staged">Staged Exams</a>
      </li>
    </ul>
  </div>
</nav>



<h1 class="">Hello</h1>


<a href="/te/exam/new" class="text-center btn btn-large btn-outline-success">CREATE AN EXAM</a>







<%- include("./partials/tefooter.ejs") %>
