<%- include("./partials/teheader.ejs") %>

<h1 class="">Hello</h1>


<a href="/te/newexam" class="text-center btn btn-large btn-outline-success">CREATE AN EXAM</a>







<%- include("./partials/tefooter.ejs") %>
