<%- include("partials/teheader") %>
<style media="screen">
  .jumbotron {
  //background-image: url("https://images.unsplash.com/photo-1596496357040-d98c165dfcc8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  height: 100%;
  min-height:300px
}
</style>
</head>
<body>
<main role="main">
<%- include("partials/tenav") %>

  <div class="jumbotron" >
    <div class="container">
      <h1 class="display-3">Hello, Teacher!</h1>
      <p>Let's Teach Something new today.</p>
      <p><a href="/te/exam/new" class="text-center btn btn-lg btn-outline-success">Create a Quiz</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
    
    </div>
    <hr>
  </div>

</main>
<%- include("partials/footer") %>
