<%- include("partials/stheader") %>

<body class="text-center">
 <form action="/te/register" class="form-signin" method="post">
   <h1 class="h3 mb-3 font-weight-normal">Teacher Registration</h1>
   <label for="u" class="sr-only">Registration Number</label>
   <input name="username" type="text" id="u" class="form-control" placeholder="Username" required >
   <label for="u" class="sr-only">Name</label>
   <input name="name" type="text" id="u" class="form-control" placeholder="Name" required >
   <label for="u" class="sr-only">Email</label>
   <input name="email" type="text" id="u" class="form-control" placeholder="Email" required>
   <label for="p" class="sr-only">Password</label>
   <input name="password" type="password" id="p" class="form-control" placeholder="Password" required>
   <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
 </form>
</body>
</html>
