.box:hover{
  background:#ffffff;
  cursor: pointer
}

.box {
  border:1px solid black;
  padding: 5px;
  width: 30%;
  box-sizing: border-box;
  transition: 0.3s;
}



.boxred{
  background:red;
}

.boxgreen{
  background:green;
}

.containers{
  transition: 0.5s;
}
